body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2, p {
    margin: 0;
}

/* Burger menu */
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(207, 207, 207, 0.8);
    z-index: 40;
    cursor: pointer;
    opacity: 0;
    transform: scale(0, 0);
    transition: opacity 300ms ease-in-out;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 30vh;
    border-bottom-right-radius:15px ;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
    padding: 40px;
    cursor: pointer;
    transform: translate3d(-100%, 0, 0);
    transition: all 700ms ease-in-out;
}

#overlay.open {
    opacity: 1;
    transform: scale(1, 1);
}

aside.open {
    transform: translate3d(0, 0, 0);
}

aside ul, aside a {
    text-decoration: none;
    list-style: none;
    font-family: Mynerve;
}

aside h2, aside a, aside p {
    color: #fff;
    font-family: Mynerve;
}

aside li a:hover {
    color: #fbff00;
}

aside #logout:hover {
    color: #f32c52;
}

aside div:first-child p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(136, 136, 136, 0.8);
    font-family: Mynerve;
}

header div:first-child {
    display: flex;
    align-items: center;
}

header i {
    font-size: 2rem !important;
    cursor: pointer;
}

header i, header h1 {
    margin-left: 1rem;
    color: #fff;
}

#first{
    display: flex;
    justify-content: space-around;
}

#logo{
    border-radius: 20px;
}

#logo_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.button{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: black;
}

#footer{
    /* background-color: #f32c52; */
    background-image: url(img/img_black.jpg);
    /* background-repeat: no-repeat; */
    object-fit: cover;
    color: #fff;
    font-size: small;
}

footer{
    display: flex;
    justify-content: center;
}


.ul{
    margin-left: 50px;
    text-decoration: none;
    list-style-type: none;
}

.li{
    display: flex;
}

.end{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}