 #slideshow {
    /* margin: 80px auto; */
    /* position: relative; */
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    /* padding: 10px; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
}
  
  /* #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  } */

  

