body{
    padding: 0;
    margin: 0;
}

#connexion{
    border: solid 1px black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 10%;
}

.mail{
    
    justify-content: center;
    align-items: center;
}

.mdp{
    
    justify-content: center;
    align-items: center;
}

#button{
    display: flex;
    align-items: center;
    justify-content: center;
}