body{
    margin: 0;
    padding: 0;
}

video{
   object-fit: cover;
   position: fixed; 
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.95);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-family: cursive;
}

input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#connect{
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(242, 255, 0);
    font-size: large;
}

#register{
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: black;
}

