#tabel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25vh;
}

.firstTabel {
    display: flex;
    justify-content: center;
}

.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box2 {
    padding: 25px;
    background: rgba(0, 0, 0, 0.95);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.box {
    padding: 25px;
    background: rgba(0, 0, 0, 0.95);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    text-align: center;
    
}

form{
    font-size:x-large;
}